.achievements {
    margin: 20px;
    background-color: rgb(49, 48, 48);
    display:flex;
    width: 100%;
    height: 389px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    

  }
  
  .achievements img {
    width: 472.76px;
    height: 387px;
    top: 2px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    

  }
  
  .achievements h1 {
    margin-left: 50px;
    width: 70%;
    height: 88px;
    top: 29px;
    left: 531.86px;
    gap: 0px;
    

    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.57px;
    text-align: left;

  }
  
  .achievements p {
    
    margin: 5%;
    width: 85%;
height: 226px;
top: 144px;
left: 531.86px;
gap: 0px;


    font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29.05px;
text-align: left;


  }
  .text{
    color: white;
  }
  
  .reverse {
    flex-direction: row-reverse;
  }