@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.frame {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15vh;
  font-family: "Inter", sans-serif;
}
.map-container {
  margin-top: 10vh;
  position: relative;
  height: 60vh;
  width: 50vh;
  overflow: hidden;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  flex: 1;
}

.map-container iframe {
  max-width: 80%;
  height: 100%;
  border: 0;
  margin: 0;
  border-radius: 1.5vh;
}

.container {
  display: flex;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-left: 10vh;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 3600px;
}


.form-container {
  max-width: 200vh;
  background-color: rgb(0, 0, 0);
  border-radius: 0.5rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: 2rem;
  position: relative;
  z-index: 10;
  flex:1;
}

.form-title {
  color: #ffffff;
  font-size: 1.125rem;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: x-large;
}

.form-input,
.form-textarea {
  background-color: #cfcfcf;
  border: 1px solid #cbd5e0;
  border-radius: 0.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-right: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  outline: none;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #757575;
}

.form-input:focus,
.form-textarea:focus {
  border-color: #5a67d8;
}

.form-textarea {
  height: 8rem;
  resize: none;
}

.form-button {
  color: white;
  background-color: #29b924;
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: medium;
  margin-top: 2.5vh;
}

.form-button:hover {
  background-color: #38a035;
}

.form-footer {
  color: #a0aec0;
  margin-top: 0.75rem;
  font-size: 0.75rem;
  line-height: 1.5;
}
