* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: black;
}

.navContainer img {
    height: 10vh;
    margin-right: 7%;
    margin-left: 4%;
}

.navContainer a {
    text-decoration: none;
}

.navContainer button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 30%;
    margin-right: 5%;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.navContainer button:hover {
    background-color: rgb(11, 151, 11);
    border-radius: 5px;
}

.navLinks {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.navLinks a {
    display: flex;
    flex-grow: 1;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: 0.4s;
}
.navContainer button.active {
    background-color: rgb(11, 151, 11);
    border-radius: 5px;
}

@media (max-width: 768px) {
    .navLinks {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navLinks.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
    
}
