@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
  
.sponsorsContainer {
    padding: 100px;
}

.sponsorsHeading {
    font-size: 30px;
    margin-bottom: 100px;
    font-family: "Orbitron", sans-serif;
    margin-left: 60px;
    color: #fff;
}

.sponsorsLogos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px 300px;
}

.sponsorsLogos svg {
    width: 80px;
    height: 80px;
}