.theme-container {
  position: relative;
  width: 100%;
  height: 270vh;
}

.theme-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(ellipse at center, rgba(49, 168, 53, 0.5), rgba(1, 165, 7, 0.5) 30%, rgba(97, 245, 102, 0.5) 50%, rgba(243, 229, 229, 0) 70%);
  z-index: -1; /* Gradient layer */
}

.theme-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./earth.png');
  background-size: 240vh;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1; /* Image layer */
}

.title-container {
  color: white;
  font-size: 7.5vh;
  padding: 16vh;
  text-align: center;
  position: relative;
  z-index: 0; /* Text layer */
  white-space: nowrap;
}
